<h1><%= course.name %></h1>
<h2><%= course.description %></h2>

<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>

<% groups.each do |group| %>
    <table>
        <tr>
            <th>Дата начала курса</th>
            <th>Количество учеников</th>
            <th>Список учеников</th>
        </tr>
        <tr>
            <td><%= group.start_date %></td>
            <td><%= group.users.count %></td>
            <td>
                <%- group.users.each do |user| %>
                    <p><%= %></p>
                <% end %>
            </td>
        </tr>
    </table>

    <%- if group.allow_to_join? %>
        <p>Записаться на курс</p>
        <%= form_with model: group, url: course_group_join_path(course_id: course.id, group_id: group.id), method: "POST", local: true do |f| %>
            <%= f.text_field :email %>
            <%= f.submit "Create" %>
        <% end %>
    <% end %>
<% end %>
